html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  @include respond(phone){
    overflow-y: scroll;
    //scroll-behavior: auto;
  }
}

// this section of the page holds the nav bar on the left and main content on the right
main{
  display: flex;
  flex-direction: row;
}

.right-content{
  margin-left: 300px;
  width: 100%;

  @media (max-width: 1400px){
    margin-left: 240px;
  }


  @include respond(tab-port){
    margin-left: 200px;
  }

  @include respond(phone){
    margin-left: 0;
  }
}

